h1 {
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: black 0.1em 0.1em 0.2em;
}

body {
    background-color: darkorchid;
}

h2 {
    text-align: center;
    color: gold;
    text-shadow: black 0.2em 0.2em 0.3em;
}

p {
    text-align: center;
    color: black;
}

ol {
    text-align: center;
    color: gold;
}

a {
    color: springgreen;
}